<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>优惠券管理</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="/">
        <ion-label>生效中</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="/">
        <ion-label>已失效</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
  <ion-item *ngFor="let coupon of coupons">
    {{coupon.name}}
  </ion-item>
</ion-content>