<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>修改商品</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>标题</ion-label>
    <ion-input [(ngModel)]="commodity.title"></ion-input>
  </ion-item>

  <ion-item (click)="presentModal(commodity)">
    <ion-label>类别</ion-label>
    <ion-input placeholder="选择商品类别" readonly [ngModel]="commodity.category"></ion-input>
    <ion-icon name="arrow-dropdown-circle"></ion-icon>
  </ion-item>
  <ion-item lines="none" (click)="presentPrice()">
    <ion-label style="max-width: 40px;">价格</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col>规格</ion-col>
        <ion-col>单买价</ion-col>
        <ion-col>拼团价</ion-col>
      </ion-row>
      <ion-row *ngFor="let price of commodity.pricesList">
        <ion-col>{{price.name}}</ion-col>
        <ion-col>¥{{price.single}}</ion-col>
        <ion-col>¥{{price.group}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="none">
    <ion-label>标签</ion-label>
    <ion-select style="max-width: 90%;" placeholder="特色标签" multiple [(ngModel)]="commodity.tagsList" cancelText="取消"
      okText="确定">
      <ion-select-option value="农家自产">农家自产</ion-select-option>
      <!-- <ion-select-option value="限量特价">限量特价</ion-select-option> -->
      <ion-select-option value="7天退换">7天退换</ion-select-option>
      <ion-select-option value="极速退款">极速退款</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label>描述</ion-label>
    <div style="width: 100%;">
      <ion-textarea style="margin-top: 0;" placeholder="填写描述" [(ngModel)]="commodity.content"></ion-textarea>
    </div>
  </ion-item>
</ion-content>
<ion-button (click)="update()">确认修改</ion-button>