.box {
    margin: 0;
    //height: 630px;
    overflow: hidden;
    padding: 10px 0 40px 60px;
    //background-color:var(--mycolor);
}

.box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top: 0;
}

.box ul:last-of-type {
    //top: 80px
}

.box ul:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px dotted var(--mycolor);
    position: absolute;
    top: 0;
    left: 30px
}

.box ul li {
    margin: 20px 20px 60px 60px;
    position: relative;
    padding: 10px;
    background: #f2f2f2;
    color: var(--mycolor);
    border-radius: 10px;
    line-height: 20px;
}


.box ul li>span {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px solid var(--mycolor);
    position: absolute;
    top: 0;
    left: -30px
}

.box ul li>span:before,
.box ul li>span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff6d6d;
    border: 2px solid #fff;
    position: absolute;
    left: -7.5px
}

.box ul li>span:before {
    top: -10px
}

.box ul li>span:after {
    top: 95%
}

.box .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

.box .info:first-letter {
    text-transform: capitalize;
    line-height: 1.7
}

.box .name {
    margin-top: 10px;
    text-transform: capitalize;
    //font-style: italic;
    font-size: smaller;
    text-align: right;
    //margin-right: 20px
}


.box .time span {
    position: absolute;
    left: -100px;
    color: var(--mycolor);
    font-size: 80%;
    font-weight: bold;
}

.box .time span:first-child {
    top: -10px
}

.box .time span:last-child {
    top: 92%
}

.box ul:last-of-type .arrow {
    position: absolute;
    top: 105%;
    left: 22%;
    transform: rotateX(180deg);
    cursor: pointer;
}