<div style="position: relative;padding-top: 20px;">
  <div style="margin-left: 20px;font-weight:bolder">
    <!-- <img src="assets/icons/drawable-xhdpi-icon.png" style="height: 30px;width: 30px;border-radius: 30px;" /> -->
    [土产大集]
  </div>
  <div style="margin-left: 20px;margin-top: 20px;">
    <div *ngIf="isAndroid">
      <img src="svg/logo-android.svg" style="height: 31px;width: auto;margin: 0 30px -5px 0;" />
      为提升体验，不妨试试添加到主屏幕
    </div>
    <div *ngIf="isIPhone">
      <img src="svg/logo-apple.svg" style="height: 31px;width: auto;margin: 0 30px -5px 0;" />
      为提升体验，不妨试试添加到主屏幕
    </div>
  </div>
  <div style="position: absolute;top: 10px;right: 10px;" (click)="close()">
    <ion-icon name="close-circle-outline"></ion-icon>
    <!-- <ion-icon name="close" slot="end" (click)="close()" size="small"></ion-icon> -->
  </div>
</div>