<div style="position: relative;padding-top: 20px;">
  <div style="margin-left: 20px;font-weight:bolder">
    <!-- <img src="assets/icons/drawable-xhdpi-icon.png" style="height: 30px;width: 30px;border-radius: 30px;" /> -->
    『农村大集』全新体验，免安装，更轻量~
  </div>
  <div style="margin-left: 20px;margin-top: 20px;">
    <div>
      <img src="svg/logo-android.svg" style="height: 31px;width: auto;margin: 0 30px -5px 0;" />
      1.Android
      <p>
        请点击菜单->添加到主屏幕
      </p>
    </div>
    <div>
      <img src="svg/logo-apple.svg" style="height: 31px;width: auto;margin: 0 30px -5px 0;" />
      2.IPhone<p>
        请点击分享->添加到主屏幕
      </p>
    </div>
  </div>
  <div style="position: absolute;top: 10px;right: 10px;">
    <ion-icon name="close-circle-outline" (click)="close()"></ion-icon>
    <!-- <ion-icon name="close" slot="end" (click)="close()" size="small"></ion-icon> -->
  </div>
</div>