<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
      选择收货地址
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-select placeholder="北京市">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
    <ion-input placeholder="请输入收货地址"></ion-input>
  </ion-item> -->
  <ion-item lines="none">
    <!-- <ion-icon slot="start" name="pin"></ion-icon> -->
    <ion-label>
      <h3>定位地址</h3>
    </ion-label>
  </ion-item>
  <ion-item (click)="presentPopover(address)">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>
      {{address.location}}
    </ion-label>
  </ion-item>
  <ion-item>
    <!-- <ion-icon slot="start" name="pin"></ion-icon> -->
    <ion-label>
      <h3>我的收货地址</h3>
    </ion-label>
    <ion-button (click)="presentPopover()">
      <ion-icon name="add"></ion-icon>
      新建地址
    </ion-button>
  </ion-item>
  <ion-item *ngFor="let address of addresses" lines="none" (click)="selectDestionation(address)"
    (touchstart)="touchstart(address)" (touchmove)="touchend()" (touchend)="touchend()">
    {{address.location}}
  </ion-item>
</ion-content>

<ion-footer no-border>
  <ion-button expand="full" (click)="closeAddress()">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>关闭</ion-label>
  </ion-button>
</ion-footer>