<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>添加优惠券</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>券的名称</ion-label>
    <ion-input required placeholder="请输入优惠券名称" [(ngModel)]="coupon.name"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>选择商品</ion-label>
    <ion-select placeholder="请选择" [(ngModel)]="coupon.commodityId" okText="确定" cancelText="取消">
      <ion-select-option value="{{commodity.id}}" *ngFor="let commodity of commodities">{{commodity.title}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label>券的面额</ion-label>
    <ion-input required placeholder="1~500" [(ngModel)]="coupon.denomination"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>发行张数</ion-label>
    <ion-input required placeholder="1~5000" [(ngModel)]="coupon.count"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>每人限额</ion-label>
    <ion-input required placeholder="请选择" [(ngModel)]="coupon.limit"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>开始时间</ion-label>
    <ion-datetime [(ngModel)]="begin" displayFormat="YYYY/MM/DD" placeholder="请选择" cancelText="取消" doneText="确定">
    </ion-datetime>
  </ion-item>
  <ion-item lines="none">
    <ion-label>结束时间</ion-label>
    <ion-datetime [(ngModel)]="end" displayFormat="YYYY/MM/DD" placeholder="请选择" cancelText="取消" doneText="确定">
    </ion-datetime>
  </ion-item>
</ion-content>
<ion-button (click)="submit()">确认添加</ion-button>