.order-image {
    width: 20%;
    height: auto;
    border-radius:5px;
    margin-left: 10px;
}

.order-content {
    margin-left:5px;
    width: 75%;
    vertical-align: top;
}

.order-price {
    position:absolute;
    right:20px;
    bottom:30px;
    font-size: large;
    color:#f04b0f;
}

.selected {
    color: var(--mycolor);
    border-bottom: 2px solid var(--mycolor);
}

ion-slides {
    width: 100%;
    ion-slide {
      font-size: small;
      padding: 3px;
    }
}