.menu_item {
    display: inline-block;
    width: 25%;
    font-size: smaller;
    text-align: center;
}

.top-header {
    height: 35%;
    background: linear-gradient(170deg, var(--mycolor), white);
}