<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>关于农村大集</ion-title>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group class="ion-text-center" style="margin-top: 80px;">
    <img style="width: 60px;height: auto;border-radius: 10px;" src="assets/icons/daji-144x144.png" />
  </ion-item-group>
  <!-- <ion-item-group class="ion-text-center">
    <ion-label>农村大集</ion-label>
  </ion-item-group> -->
  <ion-item-group class="ion-text-center" style="margin-top: 10px;font-size: smaller">
    <ion-label>当前版本：v{{version}}</ion-label>
  </ion-item-group>
  <ion-item-group style="font-size: smaller;position:absolute;bottom: 30px;text-align: center;width: 100%;">
    北京久辰博百货中心版权所有<br />
    Copyright © All Rights Reserved
  </ion-item-group>
</ion-content>