<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>选择类别</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>一级分类</ion-label>
    <ion-label>二级分类</ion-label>
    <ion-label>三级分类</ion-label>
  </ion-item>
  <ion-item>
    <div style="width: 35%;">
      <div style="line-height: 40px;" (click)="level1Click(category)" [class.selected]="level1 === category"
        *ngFor="let category of categories">
        {{category.title}}
      </div>
    </div>
    <div style="width: 30%;">
      <div style="line-height: 40px;" (click)="level2Click(sc)" [class.selected]="level2 === sc"
        *ngFor="let sc of level1?.subCategories | keyvalue">
        {{sc.key}}
      </div>
    </div>
    <div style="width: 35%;">
      <div *ngFor="let name of level2?.value" (click)="level3Click(name)"
        style="display:inline-block;width: 50%;line-height: 40px;">
        {{name}}
      </div>
    </div>
  </ion-item>
</ion-content>