<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>消息中心</ion-title>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="messages.length>0">
    <ion-item>
      来自于：
    </ion-item>
    <ion-item *ngFor="let msg of messages" (click)="gotoSession(msg.from)">
      <ion-avatar slot="start">
        <ion-img [src]="users[msg.from]?.icon?users[msg.from].icon:'assets/fruit/banana.png'"></ion-img>
      </ion-avatar>
      {{users[msg.from]?.shopsList[0]?.name?users[msg.from]?.shopsList[0].name:users[msg.from]?.name}}
    </ion-item>
  </ion-list>
  <ion-item *ngIf="messages.length==0" lines="none" style="text-align: center;">
    <ion-label>暂时没有消息哦</ion-label>
  </ion-item>
</ion-content>