<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>添加价格</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    根据商品买法，请自定义规格与价格
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="add-circle" size="small" (click)="addPrice()"></ion-icon>
    <ion-input value="规格" readonly style="min-width: 180px;"></ion-input>
    <ion-input value="单买价" readonly></ion-input>
    <ion-input value="拼团价" readonly></ion-input>
  </ion-item>
  <ion-item lines="none" *ngFor="let price of commodity.pricesList; index as i">
    <ion-icon name="remove-circle" (click)="removePrice(i)" size="small"></ion-icon>
    <ion-input [(ngModel)]="price.name" placeholder="如重量|型号|套餐等" style="min-width: 180px;"></ion-input>
    <ion-input [(ngModel)]="price.single" placeholder="¥0.00"></ion-input>
    <ion-input [(ngModel)]="price.group" placeholder="¥0.00"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="addPrice()">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>规格与价格</ion-label>
    </ion-button>
  </ion-item>
</ion-content>
<ion-button (click)="close()">确定</ion-button>