.div-header {
  background: var(--mycolor);
  height: 26%;
}

.div-content {
  height: 90%;
  width: 100%;
  top: 5%;
  position: absolute;

  .top-toolbar {
    display: inline-block;
    width: 33%;
    margin-bottom: 2%;

    ion-button {
      //--border-style:none;
      --box-shadow: none;
      --color: var(--mytextcolor);
    }
  }

  .div-scroll {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: absolute;

    ion-card-content {
      div {
        display: inline-block;
        width: 25%;
        text-align: center;
        background: white;

        div {
          margin: 5px auto;
          height: 30px;
          width: 40px;
          //box-shadow: 8px -5px 5px #888888;
          //color: var(--mytextcolor);
          color: white;
          background: url('/assets/fruit/apple.png') no-repeat 0 0;
          background-size: 100% 100%;
          // border-radius: 10px;
          padding-top: 5px;
          padding-right: 12px;
          //margin-left: 0px;
        }

        // ion-card {
        //   margin: 5px auto;
        //   height: 30px;
        //   width: 30px;
        //   box-shadow: 10px 10px 5px #888888;
        //   --color: var(--mytextcolor);
        //   --background: var(--mycolor);
        //   border-radius: 10px;
        //   padding-top: 5px;
        // }
      }
    }
  }
}

.top-swiper {
  width: 94%;
  height: 150px;
  background: linear-gradient(180deg, var(--mycolor), white);
  text-align: center;
}

ion-item-group {
  ion-badge {
    font-size: x-small;
    --padding-top: 2px;
    --padding-bottom: 0px;
  }
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  top: 5px;
  position: absolute;
}